<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de post</title>
</head>
<body>
    <div>
        <h1><a href="/">Page post's</a></h1>
    </div>

    {% if post %}
        {% for postx in post %}
            <p> publicado: {{postx.published_date}}</p>
            <h2><a href="">{{postx.title}}</a></h2>
            <p>{{ postx.text|linebreaksbr }}</p>
        {% endfor %}
    {% else %}
        <p>No hay post disponible</p>
    {% endif %}

</body>
</html>